@import url("./normalize.css");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-light: #ffffff;
  --color-gray: #d9d9d9;
  --color-gray-light: #8c8c8c;
  --color-gray-dark: #595959;
  --color-dark: #000000;
  --color-blue: #1890ff;

  --border-radius: 2px;
  --border-radius-card: 7px;
  --border: 1px solid var(--color-gray);

  --padding-x-card: 24px;

  --card-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.17;
}

h1 {
  font-size: 39px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: 1230px;
  padding-inline: 15px;
  margin-inline: auto;
}

.white-bg {
  background-color: var(--color-light) !important;
  border: 1px solid var(--color-gray) !important;
  color: var(--color-gray-dark) !important;
}

.white-bg:hover {
  background-color: var(--color-gray) !important;
  transition-duration: 0.2s;
}

.title {
  padding-bottom: 44px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  height: 40px;
  padding: 8px 16px;
  color: var(--color-light);
  background-color: var(--color-blue);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.button svg *[fill] {
  fill: currentColor;
}

.button:hover {
  color: var(--color-gray-dark);
  background-color: var(--color-light);
  border: 1px solid var(--color-gray);
  transition-duration: 0.2s;
}

/* шапка */

.header {
  padding-block: 44px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  display: flex;
  column-gap: 8px;
}

.content {
  background: linear-gradient(
    0deg,
    rgb(245, 245, 245) 1%,
    rgb(255, 255, 255) 100%
  );
}

/* баннер */

.hero {
  background-image: url("./images/hero-banner.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-block: 68px;
  padding-left: 70px;
  box-shadow: 0px 7px 12px 0px rgba(158, 158, 163, 0.1);
}

.hero__inner {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.hero__title {
  max-width: 460px;
}

.hero__description {
  font-size: 24px;
}

/* рестораны */

.rests {
  margin-top: 56px;
  padding-bottom: 90px;
}

.rests__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rests__header-input {
  height: 34px;
  width: 306px;
  padding-left: 32px;
  padding-right: 10px;
}

.rests__header-input:focus {
  outline: none;
}

.rests__header-search {
  position: relative;
}

.rests__header-search svg {
  position: absolute;
  top: 10px;
  left: 11px;
}

.rests__header-input::placeholder {
  font-size: 16px;
  color: #bfbfbf;
}

.rests__item {
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius-card);
  background-color: var(--color-light);
  transition-duration: 0.2s;
}

.rests__item:hover {
  scale: 1.1;
  transition-duration: 0.2s;
}

.rests__link {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 34px;
}

.rests__item-image {
  border-radius: var(--border-radius-card) var(--border-radius-card) 0px 0px;
}

.rests__item-body {
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  padding-inline: var(--padding-x-card);
}

.rests__item-title {
  font-size: 24px;
  color: var(--color-dark);
  position: relative;
}

.rests__item-title::after {
  position: absolute;
  content: "50 мин";
  color: var(--color-light);
  background-color: var(--color-dark);
  height: 22px;
  width: 56px;
  font-size: 12px;
  font-weight: 400;
  border-radius: var(--border-radius);
  padding-inline: 8px;
  padding-top: 4px;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}

.rests__item-description {
  display: flex;
  column-gap: 25px;
  font-size: 18px;
  padding-left: 22px;
}

.rests__item-description-rating {
  color: #ffc107;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-weight: 700;
  align-items: center;
  position: relative;
}

.rests__item-description-rating::before {
  content: "";
  position: absolute;
  width: 15px;
  aspect-ratio: 1;
  background-image: url("./images/rating.svg");
  top: calc(50% - 2px);
  right: calc(50% + 12px);
  transform: translate(-50%, -50%);
}

.rests__item-description-price {
  position: relative;
}

.rests__item-description-price::after {
  content: "";
  position: absolute;
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-gray-light);
  top: 50%;
  left: calc(50% + 48px);
  transform: translate(-50%, -50%);
}

.rests__item-description-price,
.rests__item-description-category {
  color: var(--color-gray-light);
}

/* подвал */

.footer {
  padding-block: 60px;
  background-color: var(--color-light);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 36px;
}

.footer__menu {
  flex: 1;
}

.footer__menu-list {
  display: flex;
  column-gap: 15px;
}

.footer__menu-link {
  color: var(--color-gray-dark);
  font-size: 18px;
}

.footer__menu-link:hover {
  opacity: 0.7;
}

.footer__soc1als-list {
  display: flex;
  column-gap: 21px;
  align-items: center;
}

.footer__soc1als-link:hover {
  opacity: 0.7;
}

/* отдельный ресторан */
.catalog {
  padding-bottom: 113px;
}

.catalog__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 52px;
  padding-bottom: 44px;
}

.catalog__header-description {
  display: flex;
  column-gap: 26px;
  font-size: 18px;
}

.catalog__header-description-rating {
  color: #ffc107;
  font-weight: 700;
  position: relative;
}

.catalog__header-description-rating::before {
  content: "";
  position: absolute;
  width: 15px;
  aspect-ratio: 1;
  background-image: url("./images/rating.svg");
  top: calc(50% - 3px);
  right: calc(100% + 20px);
  transform: translate(100%, -50%);
}

.catalog__header-description-price {
  position: relative;
}

.catalog__header-description-price::after {
  content: "";
  position: absolute;
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-gray-light);
  top: calc(50% - 2px);
  left: calc(50% + 48px);
  transform: translate(-50%, -50%);
}

.catalog__header-description-price,
.catalog__header-description-category {
  color: var(--color-gray-light);
}

.catalog__item {
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius-card);
  background-color: var(--color-light);
}

.catalog__item-body {
  padding: var(--padding-x-card) var(--padding-x-card) 30px
    var(--padding-x-card);
}

.catalog__item-description {
  font-size: 18px;
  color: var(--color-gray-light);
  padding-top: 10px;
  padding-bottom: 24px;
}

.catalog__item-footer {
  display: flex;
  align-items: center;
  column-gap: 29px;
}

.catalog__item-button {
  display: flex;
  align-items: center;
}

.catalog__item-price {
  font-weight: 700;
  font-size: 20px;
}
